/* div.css-1v0mbdj.etr89bj1 {
    border: 2px solid #ffffff;
    border-radius: 5px;
} */

div.css-1ht1j8u {
    text-align: center;
}
/* div.css-a58qmi-EmotionIconBase {
    padding-left: 50%;
} */